.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family);
}

.header {
    margin-top: 10rem;
}

.partnerBtn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-color: #fd9542;
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%); */
    cursor: pointer;
}

.partnerBtn:hover {
    border: 1px solid #fd9542;
    color: #fd9542;
    background-color: white;
}

.partnerForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnerForm label {
    margin-bottom: 0.5rem;
    font-size: 14px;
    text-transform: uppercase;
}

.partnerForm input {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.partnerForm textarea {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.partnerForm button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    cursor: pointer;
}

.partnerForm button:hover {
    background-position: right center; /* change the direction of the change here */
}

.main p {
    margin-top: 1rem;
    font-size: 20px;
}