.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
    margin: 0 3rem 2rem 3rem;
}

.header {
    margin-top: 6rem;
}

.householdHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

.householdContainer {
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow:  0 10px 27px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%; 
    flex-wrap: wrap;
    flex-direction: column;
}

.householdContainer span {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid var(--grey-1);
}

.householdContainer span {
    font-size: 14px;
}

.householdContainerHeader {
    background-color: var(--light-blue);
    color: var(--white);
}

.containerHeader {
    font-weight: 600;
}

.journeyButtons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 2rem 0;
}

.journeyBtn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-color: #fd9542;
    cursor: pointer;
}

.journeyForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journeyForm label {
    margin-bottom: 0.5rem;
    font-size: 14px;
    text-transform: uppercase;
}

.journeyForm input {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.journeyForm textarea {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.journeyForm button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    cursor: pointer;
}

.journeyForm button:hover {
    background-position: right center;
}


.journeyForm p {
    margin-bottom: 1rem;
}

.errorMessage {
    font-weight: 500;
    color: red;
}