.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
}

.header {
    margin-top: 4rem;
}

.profileHeader {
    width: 100%;
    height: 50%;
    position: relative;
}

.profileHeader img {
    width: 100%;
    height: 50vh;
}

.title {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 3rem;
    color: white;
}

.acctInfoSection {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: 2rem;
    grid-column: 1;
}

.acctInfo {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

.acctInfoLabel {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: var(--light-blue);
}

.acctInfoValue {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}


.userButtons {
    display: flex;
    justify-content: flex-end;
}

.userBtn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-color: #fd9542;
    cursor: pointer;
    margin-right: 1rem;
}

.userBtn:hover {
    border: 1px solid #fd9542;
    color: #fd9542;
    background-color: white;
}

.userForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userForm label {
    margin-bottom: 0.5rem;
    font-size: 14px;
    text-transform: uppercase;
}

.userForm input {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.userForm textarea {
    margin-bottom: 1rem;
    border: 1px solid grey;
    background: none;
    outline: none;
    padding: 0.5rem;
}

.userForm button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    background-size: 200% auto; 
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    cursor: pointer;
}

.userForm button:hover {
    background-position: right center; /* change the direction of the change here */
}

.userForm p {
    margin-bottom: 1rem;
}